body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color:purple;
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  nav {
    float: left;
    width: 15%;
    background-color: #4CAF50;
    padding: 20px;
  }
    
  .main-content {
    float: left;
    width: 65%;
    padding: 20px;
    position: center;
  }
  
  .right-panel {
    float: right;
    width: 20%;
    padding: 20px;
  }
  .right-panel img {
    max-width: 100%;
    height: auto;
  }
  
  footer {
    clear: both;
    text-align: center;
    padding: 10px;
    background-color: orange;
    color: black;